.digitBoard {
  color: #ddd;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.digitBoardHeader {
  align-self: center;
  margin: 1rem;
}

.digitBoardNumpad {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

/* .something {
  animation: move 1200ms linear forwards;
}

@keyframes move {
  0% {
    transform: translate(150px);
  }
  50% {
    transform: translate(-140px);
  }
  100% {
    transform: translate(0px);
  }
} */
