.roundWrapper {
  width: calc(100vw - 380px);
  height: calc(100vh - 120px);
  margin: 0 1rem;
  display: flex;
  overflow: auto;
}

.gameWrapper {
  height: calc(100vh - 85px);
  display: flex;
  overflow: auto;
  transform-origin: left top;
  transition: transform 100ms linear;
  z-index: 2;
}

.finalRoundWithTwoGames {
  display: flex;
  flex-direction: column;
}
