.roundWrapper {
  margin: 0 1rem;
  display: flex;
}

.gameWrapper {
  display: flex;
  transform-origin: left top;
  transition: transform 100ms linear;
}

.roundsBox {
  height: calc(100vh - 85px);
  overflow: auto;
}

.finalRoundWithTwoGames {
  display: flex;
  flex-direction: column;
}
