.list {
  height: 100%;
  width: 60px;
  transition: var(--trans-width);
  overflow: hidden;
  color: #ffffffce;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-open {
  width: 180px;
}
