.sign-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: white;
  height: 550px;
}
.sign-right {
  height: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
  background: white;
}
