.eliminationSettings {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  outline: none;
  margin: 1rem;
}

.paper {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
