:root {
  --trans-width: width 0.2s ease-in-out;
}

.sidebar__container {
  height: 100vh;
  background: rgb(42, 42, 42);
  display: flex;
  justify-content: flex-start;
  position: initial;
  z-index: 2;
}

.sideBar__withSettings {
  position: absolute;
}

.settings {
  transition: var(--trans-width);
  overflow: hidden;
}

.settings__open {
  width: 400px;
}

.settings__close {
  width: 0px;
}
