.eliminationGameWrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.eliminationGameContainer {
  background: #464646;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 220px;
  max-height: 100px;
  min-height: 81px;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0 0 5px 1px rgba(92, 92, 92, 0.5);
  border-radius: 3px;
}

.gameText {
  min-height: 16px;
  font-size: 12px;
  color: white;
}

.gameWithOnePlayer {
  min-height: 30px;
  font-size: 16px;
  color: rgb(209, 208, 208);
}

.enterResult {
  min-width: 200px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(17, 17, 17, 0.726);
  transition: transform 100ms linear;
}

.eliminationGameContainer:hover > .enterResult {
  transform: scale(1) translate(-50%, -50%);
}

.enterResultButton:hover ~ .enterResult {
  transform: scale(1) translate(-50%, -50%);
}

.scoreBoard {
  width: 100px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
  font-size: 2rem;
}
