.eliminationGameWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  /* border: 1px solid red; */
}

.eliminationGameContainer {
  width: 256px;
  height: 100px;
  background: #363636;
  box-shadow: 0 0 5px 1px rgba(92, 92, 92, 0.5);
  border-radius: 3px;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
}

.gameText {
  min-height: 15px;
}

.gameWithOnePlayer {
  min-height: 30px;
  color: rgb(209, 208, 208);
}

.enterResult {
  min-width: 256px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(17, 17, 17, 0.726);
  transition: transform 100ms linear 200ms;
}

.eliminationGameContainer:hover > .enterResult {
  transform: scale(1) translate(-50%, -50%);
}

.enterResultButton:hover ~ .enterResult {
  transform: scale(1) translate(-50%, -50%);
}

.scoreBoard {
  width: 100px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
  font-size: 2rem;
}
