.round__Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  /* border: 1px solid red; */
}

.round__Header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
